# these ones are either redundant or do not work for 1.21.4+
public net.minecraft.client.model.geom.ModelPart$Vertex
public net.minecraft.client.model.geom.ModelPart$Polygon
public-f net.minecraft.client.model.geom.ModelPart$Polygon vertices
public-f net.minecraft.client.model.geom.ModelPart$Polygon normal
public net.minecraft.world.entity.projectile.AbstractArrow inGround

public net.minecraft.client.gui.font.FontSet$GlyphInfoFilter

public-f net.minecraft.client.renderer.PostChain screenTarget
public net.minecraft.client.renderer.PostChain passes
public net.minecraft.client.renderer.PostChain customRenderTargets
public net.minecraft.client.renderer.PostChain fullSizedTargets
public-f net.minecraft.client.renderer.PostPass effect
public-f net.minecraft.client.renderer.PostPass inTarget
public-f net.minecraft.client.renderer.PostPass outTarget


public com.mojang.blaze3d.vertex.PoseStack poseStack

public net.minecraft.client.model.geom.builders.LayerDefinition mesh
public net.minecraft.client.model.geom.builders.LayerDefinition material
public net.minecraft.client.model.geom.builders.MaterialDefinition xTexSize
public net.minecraft.client.model.geom.builders.MaterialDefinition yTexSize
public net.minecraft.client.model.geom.builders.PartDefinition <init>(Ljava/util/List;Lnet/minecraft/client/model/geom/PartPose;)V
public net.minecraft.client.model.geom.builders.PartDefinition cubes
public net.minecraft.client.model.geom.builders.PartDefinition partPose
public net.minecraft.client.model.geom.builders.PartDefinition children
public-f net.minecraft.client.model.geom.builders.CubeDefinition

public-f net.minecraft.client.model.geom.ModelPart cubes
public net.minecraft.client.model.geom.ModelPart children
public-f net.minecraft.client.model.geom.ModelPart$Cube polygons
public net.minecraft.client.renderer.entity.EntityRenderDispatcher renderers
public net.minecraft.client.renderer.entity.EntityRenderer reusedState

# Yes, really.
public-f net.minecraft.client.model.HumanoidModel head
public-f net.minecraft.client.model.HumanoidModel hat
public-f net.minecraft.client.model.HumanoidModel body
public-f net.minecraft.client.model.HumanoidModel rightArm
public-f net.minecraft.client.model.HumanoidModel leftArm
public-f net.minecraft.client.model.HumanoidModel rightLeg
public-f net.minecraft.client.model.HumanoidModel leftLeg
public-f net.minecraft.client.model.PlayerModel leftSleeve
public-f net.minecraft.client.model.PlayerModel rightSleeve
public-f net.minecraft.client.model.PlayerModel leftPants
public-f net.minecraft.client.model.PlayerModel rightPants
public-f net.minecraft.client.model.PlayerModel jacket
public-f net.minecraft.client.model.PlayerModel cloak
public-f net.minecraft.client.model.PlayerModel ear
public-f net.minecraft.client.model.PlayerModel parts

public net.minecraft.client.renderer.texture.atlas.SpriteSourceList <init>(Ljava/util/List;)V
public net.minecraft.client.renderer.texture.TextureAtlas texturesByName
public net.minecraft.client.renderer.texture.TextureAtlas missingSprite

public net.minecraft.client.particle.Particle x
public net.minecraft.client.particle.Particle y
public net.minecraft.client.particle.Particle z
public net.minecraft.client.particle.Particle xo
public net.minecraft.client.particle.Particle yo
public net.minecraft.client.particle.Particle zo
public net.minecraft.client.particle.Particle oRoll
public net.minecraft.client.particle.Particle roll
public net.minecraft.client.particle.Particle rCol
public net.minecraft.client.particle.Particle gCol
public net.minecraft.client.particle.Particle bCol
public net.minecraft.client.particle.Particle alpha
public net.minecraft.client.particle.TextureSheetParticle sprite

public net.minecraft.client.renderer.MultiBufferSource$BufferSource endBatch(Lnet/minecraft/client/renderer/RenderType;Lcom/mojang/blaze3d/vertex/BufferBuilder;)V

public net.minecraft.client.gui.components.Tooltip <init>(Lnet/minecraft/network/chat/Component;Lnet/minecraft/network/chat/Component;)V
public net.minecraft.client.gui.components.Tooltip message
public net.minecraft.client.gui.Font$StringRenderOutput

public net.minecraft.client.DeltaTracker$Timer deltaTickResidual

public net.minecraft.server.level.ChunkMap$TrackedEntity
public net.minecraft.server.level.ChunkMap entityMap
public net.minecraft.server.level.ChunkMap$TrackedEntity seenBy
public net.minecraft.server.level.ChunkMap getChunks()Ljava/lang/Iterable;

public net.minecraft.world.entity.LivingEntity lastHurt
public net.minecraft.world.entity.LivingEntity damageContainers
public net.minecraft.world.entity.LivingEntity lastHurtByPlayerTime
public net.minecraft.server.level.ServerPlayer spawnInvulnerableTime

public net.minecraft.world.entity.LivingEntity autoSpinAttackDmg
public net.minecraft.world.entity.LivingEntity autoSpinAttackItemStack

public net.minecraft.world.item.ItemStack components
public net.minecraft.world.item.ItemStack item
public net.minecraft.world.item.ItemStack <init>(Lnet/minecraft/world/level/ItemLike;ILnet/minecraft/core/component/PatchedDataComponentMap;)V

public net.minecraft.world.entity.item.ItemEntity pickupDelay

public net.minecraft.world.entity.projectile.Projectile ownedBy(Lnet/minecraft/world/entity/Entity;)Z
public net.minecraft.world.entity.projectile.AbstractArrow isInGround()Z
public net.minecraft.world.entity.projectile.AbstractArrow getPickupItem()Lnet/minecraft/world/item/ItemStack;

public net.minecraft.client.resources.language.ClientLanguage <init>(Ljava/util/Map;ZLjava/util/Map;)V
public net.minecraft.network.chat.contents.TranslatableContents ARG_CODEC
public net.minecraft.network.chat.contents.TranslatableContents decompose()V
public net.minecraft.network.chat.contents.TranslatableContents decomposedWith
public net.minecraft.network.chat.contents.TranslatableContents decomposedParts
public net.minecraft.network.chat.contents.TranslatableContents key
public net.minecraft.network.chat.contents.TranslatableContents fallback
public net.minecraft.network.chat.contents.TranslatableContents args
public net.minecraft.network.chat.contents.TranslatableContents decomposeTemplate(Ljava/lang/String;Ljava/util/function/Consumer;)V

public net.minecraft.world.entity.decoration.ArmorStand brokenByPlayer(Lnet/minecraft/server/level/ServerLevel;Lnet/minecraft/world/damagesource/DamageSource;)V
public net.minecraft.world.entity.decoration.ArmorStand brokenByAnything(Lnet/minecraft/server/level/ServerLevel;Lnet/minecraft/world/damagesource/DamageSource;)V

public net.minecraft.world.effect.MobEffectInstance duration
public net.minecraft.world.effect.MobEffectInstance amplifier
public net.minecraft.world.effect.MobEffectInstance hiddenEffect

public net.minecraft.world.entity.ai.goal.GoalSelector availableGoals

public net.minecraft.world.entity.ai.attributes.AttributeInstance getModifiers(Lnet/minecraft/world/entity/ai/attributes/AttributeModifier$Operation;)Ljava/util/Map;

public net.minecraft.world.level.Explosion x
public net.minecraft.world.level.Explosion y
public net.minecraft.world.level.Explosion z
public-f net.minecraft.world.level.Explosion damageSource
public-f net.minecraft.world.level.Explosion damageCalculator
public-f net.minecraft.world.level.Explosion fire
public-f net.minecraft.world.level.Explosion blockInteraction
public net.minecraft.world.level.Explosion random
public net.minecraft.world.level.Explosion level
public-f net.minecraft.world.level.Explosion radius
public-f net.minecraft.world.level.Explosion smallExplosionParticles
public-f net.minecraft.world.level.Explosion largeExplosionParticles
public-f net.minecraft.world.level.Explosion explosionSound

public net.minecraft.client.gui.components.AbstractSelectionList$Entry

public net.minecraft.network.syncher.SynchedEntityData$Builder entity
public net.minecraft.network.syncher.SynchedEntityData$Builder itemsById
public net.minecraft.network.syncher.SynchedEntityData <init>(Lnet/minecraft/network/syncher/SyncedDataHolder;[Lnet/minecraft/network/syncher/SynchedEntityData$DataItem;)V
public net.minecraft.network.syncher.SynchedEntityData itemsById
public net.minecraft.network.syncher.SynchedEntityData isDirty
public net.minecraft.network.syncher.SynchedEntityData getItem(Lnet/minecraft/network/syncher/EntityDataAccessor;)Lnet/minecraft/network/syncher/SynchedEntityData$DataItem;
public net.minecraft.network.syncher.SynchedEntityData assignValue(Lnet/minecraft/network/syncher/SynchedEntityData$DataItem;Lnet/minecraft/network/syncher/SynchedEntityData$DataValue;)V


public net.minecraft.server.level.ServerPlayerGameMode isDestroyingBlock
public net.minecraft.server.level.ServerPlayerGameMode destroyPos
public net.minecraft.server.level.ServerPlayerGameMode lastSentState
public net.minecraft.world.entity.ai.goal.DoorInteractGoal doorPos
public net.minecraft.world.entity.ai.goal.BreakDoorGoal lastBreakProgress

public net.minecraft.world.entity.ai.navigation.PathNavigation targetPos
public net.minecraft.world.entity.ai.navigation.PathNavigation reachRange
public net.minecraft.world.entity.ai.navigation.PathNavigation maxVisitedNodesMultiplier
public net.minecraft.world.entity.ai.navigation.PathNavigation isStuck
public net.minecraft.world.entity.ai.navigation.PathNavigation timeoutPath()V
public net.minecraft.world.entity.ai.navigation.PathNavigation resetStuckTimeout()V
public net.minecraft.world.entity.ai.navigation.GroundPathNavigation avoidSun
public net.minecraft.world.level.pathfinder.WalkNodeEvaluator pathTypesByPosCacheByMob
public net.minecraft.world.level.pathfinder.WalkNodeEvaluator collisionCache
public net.minecraft.world.level.pathfinder.WalkNodeEvaluator reusableNeighbors
public net.minecraft.world.level.pathfinder.WalkNodeEvaluator canReachWithoutCollision(Lnet/minecraft/world/level/pathfinder/Node;)Z
public net.minecraft.world.level.pathfinder.WalkNodeEvaluator getNodeAndUpdateCostToMax(IIILnet/minecraft/world/level/pathfinder/PathType;F)Lnet/minecraft/world/level/pathfinder/Node;
public net.minecraft.world.level.pathfinder.WalkNodeEvaluator getBlockedNode(III)Lnet/minecraft/world/level/pathfinder/Node;
public net.minecraft.world.level.pathfinder.WalkNodeEvaluator getClosedNode(IIILnet/minecraft/world/level/pathfinder/PathType;)Lnet/minecraft/world/level/pathfinder/Node;
public net.minecraft.world.level.pathfinder.NodeEvaluator mob

public-f net.minecraft.world.entity.Mob interact(Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/InteractionHand;)Lnet/minecraft/world/InteractionResult;

public net.minecraft.world.entity.decoration.ItemFrame removeFramedMap(Lnet/minecraft/world/item/ItemStack;)V

public net.minecraft.client.gui.screens.inventory.CreativeModeInventoryScreen selectedTab
public-f net.minecraft.world.inventory.Slot x
public-f net.minecraft.world.inventory.Slot y
public net.minecraft.world.inventory.AbstractContainerMenu synchronizeSlotToRemote(ILnet/minecraft/world/item/ItemStack;Ljava/util/function/Supplier;)V
public net.minecraft.world.inventory.AbstractContainerMenu suppressRemoteUpdates
public net.minecraft.world.entity.LivingEntity detectEquipmentUpdates()V
public net.minecraft.server.level.ServerPlayer initMenu(Lnet/minecraft/world/inventory/AbstractContainerMenu;)V
public net.minecraft.world.inventory.ArmorSlot
public net.minecraft.world.inventory.ArmorSlot slot
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen findSlot(DD)Lnet/minecraft/world/inventory/Slot;
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen isHovering(Lnet/minecraft/world/inventory/Slot;DD)Z

public net.minecraft.world.level.Level neighborUpdater
public net.minecraft.world.level.redstone.CollectingNeighborUpdater addAndRun(Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/redstone/CollectingNeighborUpdater$NeighborUpdates;)V
public net.minecraft.world.level.redstone.CollectingNeighborUpdater$NeighborUpdates
public net.minecraft.world.level.redstone.CollectingNeighborUpdater$ShapeUpdate

public com.mojang.blaze3d.audio.Channel source
public com.mojang.blaze3d.audio.SoundBuffer alBuffer
public com.mojang.blaze3d.audio.SoundBuffer getAlBuffer()Ljava/util/OptionalInt;
public net.minecraft.client.sounds.SoundManager soundEngine
public net.minecraft.client.sounds.SoundManager soundCache
public net.minecraft.client.sounds.SoundEngine loaded
public net.minecraft.client.sounds.SoundEngine soundBuffers
public net.minecraft.client.sounds.SoundEngine channelAccess
public net.minecraft.client.sounds.SoundEngine instanceToChannel
public net.minecraft.client.sounds.SoundEngine instanceBySource
public net.minecraft.client.sounds.SoundEngine soundDeleteTime
public net.minecraft.client.sounds.SoundEngine tickCount
public net.minecraft.client.sounds.WeighedSoundEvents list
public com.mojang.blaze3d.audio.SoundBuffer data
public com.mojang.blaze3d.audio.SoundBuffer format
public net.minecraft.client.resources.sounds.AbstractSoundInstance volume
public com.mojang.blaze3d.audio.OpenAlUtil checkALError(Ljava/lang/String;)Z

public net.minecraft.world.entity.Entity removalReason
public net.minecraft.world.entity.WalkAnimationState speedOld
public net.minecraft.world.entity.WalkAnimationState speed
public net.minecraft.world.entity.WalkAnimationState position
